/* Basic editor styles */
.minimal-tiptap-editor .ProseMirror {
  padding: 4px 8px;
}

.minimal-tiptap-editor .ProseMirror > * + * {
  margin-top: 0.75em;
}

.minimal-tiptap-editor .ProseMirror figure {
  margin: 0;
}

.minimal-tiptap-editor .ProseMirror figure img {
  max-width: 100%;
  height: auto; 
}

.minimal-tiptap-editor .ProseMirror .ProseMirror-selectednode img {
  outline: 3px solid blue;
}
