.tiptap :first-child {
    margin-top: 0;
}

/* Youtube embed */
.tiptap div[data-youtube-video] {
    cursor: move;
    padding-right: 1.5rem;
}

.tiptap div[data-youtube-video] iframe {
    border: 0.5rem solid var(--black-contrast);
    display: block;
    min-height: 200px;
    min-width: 200px;
    outline: 0px solid transparent;
}

.tiptap div[data-youtube-video].ProseMirror-selectednode iframe {
    outline: 3px solid var(--purple);
    transition: outline 0.15s;
}
  